@mixin btn-color($color) {
  background-color: $color;
  color: #fff;
  &:hover,
  &:focus {
    background-color: mix($color, #fff, 60%);
  }
}

.btn {
  @include btn-color($color-black);
  @include md-font();
  line-height: 1;
  border: none;
  padding: 0.66em 1.32em;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 0;
  display: inline-block;  // <a>
  text-align: center;     // <a>
  text-decoration: none;  // <a>
}

.btn-primary {
  @include btn-color($color-primary);
}

.btn-secondary {
  @include btn-color($color-secondary);
}

.btn[disabled] {
  background: #CCC;
  color: gray;
  cursor: default;
}

.next-cta {
  @include md-font();
  text-decoration: none;
  border: 2px solid;
  padding: 30px 30px 120px;
  margin: 30px 0;
  display: block;
  position: relative;
  transition: color .4s;
  span {
    position: absolute;
    bottom: 30px;
    right: 50px;
    text-decoration: underline;
    opacity: 0;
    transition: right .4s;
  }
  &:hover {
    color: $color-red;
    span {
      opacity: 1;
      right: 30px;
    }
  }
}
