/* ====================================
 * Footer
 * ==================================== */

footer {
  .footer-logo {
    svg {
      width: 150px;
      height: 30px;
      margin-bottom: 30px;
    }
  }
  a {
    color: $color-black!important;
    text-decoration: none;
    &:hover {
      color: $color-red!important;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      @include xs-font();
      margin-bottom: 12px;
      span {
        padding-right: 10px;
        color: $color-dark-gray;
      }
    }
  }
}
